@charset "UTF-8";
/*****************************************************
******************************************************

opre.css
작성자 : 이영주
작성일 : 2017.10.11
설명 :
가이드 페이지의 기본이 되는 페이지 스타일 시트,
opre.scss 에서 SASS 형식으로 관리됨

******************************************************
*****************************************************/
/* Header */
html {
  height: 100%;
}

body {
  font-size: 1.4rem;
  line-height: 140%;
}

body.for-dev {
  font-size: 1.4rem;
  height: 100%;
  display: flex;
  flex: 1;
}

body.for-dev::before {
  content: "";
  clear: both;
  height: 0;
}

/* Container */
.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 20px;
  padding-left: 20px;
}

.row {
  margin-left: -2rem;
  margin-right: -2rem;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* Font */
h6 {
  font-size: 1.4rem;
  margin-top: 2.5rem;
  margin-bottom: .8rem;
}

p {
  font-size: 1.4rem;
}

label {
  font-size: 1.4rem;
  margin-bottom: inherit;
}

.col-form-label {
  padding-top: calc(1.4rem - 1px * 2);
}

/* Button */
.btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  height: 4.6rem;
  border: 0;
  border-radius: 0;
  font-size: 1.4rem;
}

.btn.btn-primary {
  background-color: #ffde00;
  color: #000;
}

.btn.btn-outline-primary {
  background-color: #fff;
  color: #000;
  border: .1rem solid #b2b2b2;
}

.btn.btn-secondary {
  background-color: #4c586a;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  vertical-align: middle;
}

.btn.btn-sm {
  padding-left: 2.125rem;
  padding-right: 2.125rem;
  height: 3.4rem;
  font-size: 1.3rem;
}

.btn.btn-in-tbl {
  height: 4rem;
  background-color: #4c586a;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.btn.has-gap {
  margin-right: .6rem;
}

.btn.has-gap-sm {
  margin-right: .4rem;
}

.btn.has-gap-xs {
  margin-right: .1rem;
}

.btn.btn-mo-auth {
  padding: 1.3rem 2rem 0.9rem;
  background: #e9eef5;
  font-size: 1.5rem;
  color: #333;
  vertical-align: middle;
}

.btn-no-padding {
  padding-left: inherit;
  padding-right: inherit;
}

.img-btn.btn-calendar {
  position: absolute;
  right: .625rem;
  top: 0;
  padding: 0;
  width: 3.2rem;
  height: 4.6rem;
  background-color: transparent;
}

.img-btn.btn_calendar {
  height: 4.6rem;
}

.img-btn img {
  width: 100%;
  vertical-align: middle;
}

.img-btn img.icon-calendar {
  width: 50%;
}

.btn_calendar {
  height: 4.6rem !important;
}

/* Tab button */
.tab-group {
  display: flex;
  flex-direction: row;
}

.tab-group.full {
  width: 100%;
}

.tab-group .btn {
  padding-left: inherit;
  padding-right: inherit;
  flex: 1 1 0;
  height: 3.4rem;
  background: #e9eef5;
  font-size: 1.3rem;
}

.tab-options {
  display: none;
}

.input-amount-type-1 {
  text-align: right;
  padding-right: 5.2rem !important;
}

.input-amount-type-2 {
  text-align: right;
  padding-right: 4rem !important;
}

.unit {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

.annually {
    position: absolute;
    top: 1.3rem;
    left: 1rem;
}

/* Table */
.tbl_list th {
  text-align: left;
}

.tbl_list td {
  width: 60%;
}

/* List */
.list_type01 {
  margin-bottom: 0;
}

/* Input & select */
.form-control {
  border-radius: 0;
  font-size: 1.7rem;
}

input[type=radio] {
  width: 1.9rem;
  height: 1.9rem;
}

input[type=text],
input[type=number],
input[type=tel],
input[type=password],
select {
  padding-left: .625rem;
  padding-right: .625rem;
  height: 4.6rem;
  background: #fff;
  border: .1rem solid #e0e0e0;
  font-size: 1.7rem;
  font-weight: normal;
  color: #000;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=password]:focus,
select:focus {
  background: #ffde00;
}

input[type=text].full,
input[type=number].full,
input[type=tel].full,
input[type=password].full,
select.full {
  width: 100%;
}

input.date {
  padding-top: 0.7rem;
  padding-bottom: 0.8rem;
  border-right: none;
}

select.form-control {
  height: 4.6rem !important;
  background-image: url("../img/common/arrow-type-1.png");
  background-position: calc(100% - .6rem) center;
  background-size: 1rem;
  background-repeat: no-repeat;
}

select.form-control:focus {
  border-color: #ffde00;
  background-color: #ffde00;
}

/* Modal */
.modal-dialog {
  margin: 2rem;
}

.modal-content {
  border-radius: 0;
}

.modal-container {
  padding: 3rem 4.5rem;
}

.modal-container h6 {
  margin-top: 1.8rem;
  margin-bottom: .8rem;
  width: 100%;
}

.modal-container p {
  width: 100%;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  letter-spacing: .008rem;
}

.modal-container .card-text {
  position: relative;
}

.modal-container .card-text.has-bullet {
  padding-left: .5875rem;
}

.modal-container .card-text.has-bullet::before {
  content: " ";
  position: absolute;
  left: 0rem;
  top: .9rem;
  width: .3rem;
  height: .3rem;
  background: #000;
  border-radius: 50%;
}

/* Card */
.card {
  border: .1rem solid #dfe2e9;
  border-radius: 0;
  width: 100%;
}

.card.info {
  background: #f3f6fb;
}

.card .card-body {
  padding: .8125rem;
}

.card .card-text {
  position: relative;
}

.card .card-text.has-bullet {
  padding-left: .5875rem;
}

.card .card-text.has-bullet::before {
  content: " ";
  position: absolute;
  left: 0rem;
  top: .9rem;
  width: .3rem;
  height: .3rem;
  background: #000;
  border-radius: 50%;
}

.hidden {
  display: none;
}

#contents {
  width: 100%;
}

/* date picker */
.date-picker {
  position: relative;
}

/* 생년월일 */
.dob-form .dob {
  width: 45%;
}

.dob-form .hypen {
  margin: 0 1rem;
  margin-top: 1.4rem;
}

.dob-form .hypen::before {
  content: "";
  border-bottom: .1rem solid #000;
  width: 100%;
}

.dob-form .gender {
  width: 12%;
  text-align: center;
}

/* 주소 양식 */
.address-form {
  margin-left: 0;
  margin-right: 0;
}

.address-form .zipcode {
  width: 20%;
}

.address-form .hypen {
  margin: 0 1rem;
  margin-top: 1.4rem;
}

.address-form .hypen::before {
  content: "";
  border-bottom: .0625rem solid #000;
  width: 100%;
}

/* 전화번호 양식 */
.mob-form {
  margin-left: 0;
  margin-right: 0;
}

.mob-form .hypen {
  margin: 0 1rem;
  margin-top: 1.4rem;
}

.mob-form .hypen::before {
  content: "";
  border-bottom: .0625rem solid #000;
  width: 100%;
}

/* 전화번호 양식 */
.e-mail-form {
  margin-left: 0;
  margin-right: 0;
}

.e-mail-form .at {
  margin: 0 1rem;
  margin-top: 1.4rem;
}

.text01.email {
  width: 50% !important;
}

select#sel_email_addr {
  width: 40% !important;
}

/* 통신사 선택 */
.mob-provider label {
  margin-right: 0;
  letter-spacing: -0.1rem;
}

@media screen and (max-width: 374px) {
  .mob-provider label {
    margin-right: 0;
    margin-left: 0;
    letter-spacing: -0.2rem;
  }
}

.agreement-head {
  border-bottom: .2rem solid #4c433c;
  padding: 1.1rem;
}

.agreement-title {
  border-bottom: .1rem solid #d6d5d3;
  padding: 1.1rem;
}

.agreement {
  display: none;
  height: 5rem;
  padding: .5rem 2rem;
  overflow-y: scroll;
  font-size: 1.2rem;
}

.mo-timer {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}

.info-text-graphic-area {
  padding: 2rem 0;
}

.graphic-mobile-shield {
  width: 4.1rem;
  margin-bottom: 2.45rem;
  margin-top: 3rem;
}

/* Slide toggle */
.dropdown-title {
  position: relative;
}

.dropdown-title::after {
  content: "";
  width: 1rem;
  height: .625rem;
  position: absolute;
  top: 1.9rem;
  right: .625rem;
  background: url("../img/common/arrow-type-1.png");
  background-size: 100% 100%;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.dropdown-title.opened::after {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.main-page {
  background: #f5efe4;
}

.introduce_slider {
  margin-top: 3.4rem;
}

.btn-service-info {
  position: relative;
  height: 2.8rem;
  width: 13.5rem;
  border-radius: 1.4rem;
  font-weight: 400 !important;
  font-size: 1.4rem !important;
}

.btn-service-info::after {
  content: "";
  background-image: url("../img/common/arrow-type-3.png");
  background-size: .7rem auto;
  width: .7rem;
  height: 1.1rem;
  position: absolute;
  right: 1.1rem;
  top: .85rem;
}

.entry-point button {
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 4.6rem;
  border-radius: 2.3rem;
  background-color: #fff;
  font-size: 1.5rem;
}

.entry-point button::after {
  content: "";
  background-image: url("../img/common/arrow-type-2.png");
  background-size: .7rem auto;
  width: .7rem;
  height: 1.2rem;
  position: absolute;
  right: 1.4rem;
  top: 1.6rem;
}

.flexible-text {
  font-size: 1.5rem;
}

.flexible-text > * {
  vertical-align: text-bottom;
}

.flexible-text u {
  font-size: 2rem;
  text-decoration: none;
}

button.slick-arrow {
  z-index: 999;
}

.slick-prev {
  left: -25px !important;
}

.slick-prev:before {
  content: "" !important;
  background-image: url("../img/common/arrow-slider-on.png");
  background-size: .7rem auto;
  background-repeat: no-repeat;
  width: .85rem;
  height: 2.05rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
}

.slick-next {
  right: -25px !important;
}

.slick-next:before {
  content: "" !important;
  background-image: url("../img/common/arrow-slider-on.png");
  background-size: .7rem auto;
  background-repeat: no-repeat;
  width: .85rem;
  height: 2.05rem;
  position: absolute;
  left: 0;
  top: 0;
}

.slick-slide img {
  margin: 0 auto;
  margin-left: calc(50% - 7.9rem);
  width: 19.85rem;
}

.entry-point {
  margin-top: 2.9rem;
}

.entry-pointbutton {
  transition: all .5s;
}

.layer-page {
  padding: 2rem 4rem;
}

.link_list02 li, .link_list03 li button {
  padding: 1.3rem 2.5rem 1.3rem 1rem;
}
